<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/css/osureplay.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="static/libs/css/bootstrap.css">
    <link href="static/libs/css/pnotify.css" rel="stylesheet" type="text/css" />
    <title>osu Replays</title>
</head>
<body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.11/pixi.min.js"></script>
<script src="static/libs/js/zip.js"></script>
<script src="static/libs/js/md5.js"></script>

<script id="replay_select_template" type="text/template">
    {{#replays}}
    <div class="row">
        <div class="replay_preview" id="{{rMd5Hash}}">
            <div class="row ">
                <div class="replay_data">
                    <span><img class="replay_avatar" height="64" width="64" src="{{avatar_img}}"></span>
                    <span><img src="{{grade_img}}"></span><!--TODO: getImage -->
                            <span class="replay_details">
                                <span class="replay_player_name">{{playerName}}</span>
                                <br/>
                                <span class="replay_score">Score: {{tScore}} ({{tCombo}}X)</span>
                            </span>

                        <span class="replay_mods">{{#mods}}{{code}}{{/mods}}<br/>
                            <span class="replay_accuracy">{{accuracy}}%</span>
                        </span>

                </div>

            </div>

        </div>

    </div>
    {{/replays}}
</script>

<script id="beatmap_select_template" type="text/template">
    {{#beatmaps}}
    <div class="col-xs-offset-5 col-xs-7 beatmap_preview" id="{{md5sum}}">
        <div class="row song_preview_row song_preview_unselected" >
            <img src="{{thumbnail_data}}">
            <span class="song_details">
                <span class="song_name">{{#titleunicode}}{{titleunicode}} ( {{title}} ) {{/titleunicode}}{{^titleunicode}}{{title}}{{/titleunicode}}</span>
                <br>
                <span class="song_author">{{#artistunicode}}{{artistunicode}} ( {{artist}} ){{/artistunicode}}{{^artistunicode}}{{artist}}{{/artistunicode}} // {{creator}}</span>
                <br>
                <span class="song_version">{{version}}</span>
                <br>
                <span class="song_stars">
                    {{#stars}}
                        <img height="{{h}}" width="{{w}}" src="{{star_img}}">
                    {{/stars}}
                </span>
            </span>
        </div>
    </div>
    {{/beatmaps}}

</script>
<div id="render_zone"></div>
<div id="loading">loading...</div>
<div class="hidden" id="no_beatmaps_replays"><p class="h3">Drag in some beatmaps and replays to begin!</p></div>

<div id="container" class="hidden">
        <div class="row search">

            <div class="col-xs-8" id="map_name">
                DEFAULT_SONG_NAME
            </div>
            <div class="col-xs-4">
                <input id="filter_maps_search" type="text" class="form-control" placeholder="Search for beatmap here!">
            </div>
        </div>


        <div class="col-xs-5 remove_padding">
            <div class="map_details">
                <div id="mapped_by">Mapped by DATBOI</div>
                <div id="map_length_and_objects">Length: 13:37 BPM: 240 Objects: 2000</div>
                <div id="map_object_type_counts">Circles: 2000 Sliders: 378 Spinners 5</div>
                <div id="map_difficulty">CS:10 AR:10 OD:10 HP:10 Stars:12</div>
            </div>
            <div class="col-xs-8">
                <input id="filter_players_search" type="text" class="form-control" placeholder="Filter Players!">
            </div>


            <div id="replay_select_area" class="replay_area col-xs-8">
                <!--- Replay data goes here --->
            </div>
        </div>


        <div id="song_selection_area">
            <!-- beatmap data goes here -->
        </div>
        <div id="footer">
            <div class="col-xs-3">
                <label for="background_dim">Background Dim</label>
                <input type="range" id="background_dim" value="90">
            </div>

            <div class="col-lg-offset-1 col-xs-2 text-right">
                <div><label for="master_volume">Master Volume</label></div>
                <div><label for="music_volume">Music Volume</label></div>
                <div><label for="sound_volume">Sound Volume</label></div>
            </div>


            <div class="col-xs-1 remove_padding">
                <input type="range" class="" id="master_volume" value="80">
                <input type="range" id="music_volume" value="90">
                <input type="range" id="sound_volume" value="50">
            </div>
            <div class="col-xs-offset-1 col-xs-2 ">
                <label for="use_beatmap_skin">Use beatmap Skins</label>
                <input id="use_beatmap_skin" type="checkbox">

                <label for="use_beatmap_hitsounds">Use beatmap hitsounds</label>
                <input id="use_beatmap_hitsounds" type="checkbox">
            </div>

            <div class="col-xs-2 remove_padding">
                <label for="skin_select">Select Skin</label>
                <select id="skin_select" class="form-control">
                    <option>Default</option>

                </select>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
<script src="static/libs/js/pnotify.js"></script>
<script src="static/libs/js/lzma.js"></script>
<script src="static/js/osureplay.js"></script>


</body>
</html>