<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/css/osureplay.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="static/libs/css/bootstrap.css">
    <title>Map Selection Mock</title>
</head>
<body>


<script id="replay_select_template" type="text/template">
    {{#replays}}
    <div class="row">
        <div class="replay_preview">
            <div class="row ">
                <div class="replay_data">
                    <span><img class="replay_avatar" height="64" width="64" src="{{avatar_img}}"></span>
                    <span><img src="{{grade_img}}"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">{{player_name}}</span>
                                <br/>
                                <span class="replay_score">Score: {{score}} ({{max_combo}}X)</span>
                            </span>

                        <span class="replay_mods">{{#mods}}.{{/mods}}<br/>
                            <span class="replay_accuracy">{{accuracy}}%</span>
                        </span>

                </div>

            </div>

        </div>

    </div>
    {{/replays}}
</script>

<script id="beatmap_select_template" type="text/template">
    {{#beatmaps}}
    <div class="col-xs-offset-5 col-xs-7">
        <div class="row song_preview_unselected">
            <img src="{{background}}">
            <span class="song_details">
                <span class="song_name">{{song_title}}</span>
                <br>
                <span class="song_author">{{artist}} // {{mapped_by}}</span>
                <br>
                <span class="song_version">{{difficulty}}</span>
                <br>
                <span class="song_stars">
                    {{#stars}}
                        <img height="{{h}}" width="{{w}}" src="{{star_img}}">
                    {{/stars}}
                </span>
            </span>
        </div>
    </div>
    {{/beatmaps}}

</script>


<div id="container">
    <div id="content">

        <div class="row search">

            <div class="col-xs-8" id="map_name">
                DEFAULT_SONG_NAME
            </div>
            <div class="col-xs-4">
                <input id="filter_maps_search" type="text" class="form-control" placeholder="Search for beatmap here!">
            </div>
        </div>


        <div class="col-xs-5 remove_padding">
            <div class="map_details">
                <div id="mapped_by">Mapped by DATBOI</div>
                <div id="map_length_and_objects">Length: 13:37 BPM: 240 Objects: 2000</div>
                <div id="map_object_type_counts">Circles: 2000 Sliders: 378 Spinners 5</div>
                <div id="map_difficulty">CS:10 AR:10 OD:10 HP:10 Stars:12</div>
            </div>
            <div class="col-xs-8">
                <input id="filter_players_search" type="text" class="form-control" placeholder="Filter Players!">
            </div>

            <div id="replay_select_area" class="replay_area col-xs-8">

                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="replay_preview">
                        <div class="row ">
                            <div class="replay_data">
                                <span><img class="replay_avatar" height="64" width="64" src="data/avatar.png"></span>
                                <span><img src="data/ranking-X-small.png"></span>
                            <span class="replay_details">
                                <span class="replay_player_name">Ugrend</span>
                                <br/>
                                <span class="replay_score">Score: 998,953 (1860X)</span>
                            </span>

                        <span class="replay_mods">DT,PF, FL, NF, DO, SO<br/>
                            <span class="replay_accuracy">100.00%</span>
                        </span>

                            </div>

                        </div>

                    </div>

                </div>


            </div>
        </div>


        <div id="song_selection_area" >
            <div class="col-xs-offset-5 col-xs-7">
                <div class="row song_preview_unselected">
                    <img src="data/song-bg_1.jpg">
            <span class="song_details">
                <span class="song_name">Everything will freeze</span>
                <br>
                <span class="song_author">UNDEAD CORPORATION // Ekoro</span>
                <br>
                <span class="song_version">Time Freeze</span>
                <br>
                <span class="song_stars"><img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                </span>
            </span>
                </div>
            </div>
            <div class="col-xs-offset-5 col-xs-7">
                <div class="row song_preview_unselected">
                    <img src="data/song-bg_2.jpg">
                </div>
            </div>
            <div class="col-xs-offset-5 col-xs-7">
                <div class="row song_preview_unselected">
                    <img src="data/song-bg_3.jpg">
                </div>
            </div>

            <div class="col-xs-offset-4 col-xs-8">
                <div class="row song_preview_mouseover">
                    <img src="data/song-bg_5.jpg">
                </div>
            </div>

            <div class="col-xs-offset-3 col-xs-9">
                <div class="row song_preview_selected">
                    <img src="data/song-bg_4.jpg">
                    asdasd
                </div>
            </div>
            <div class="col-xs-offset-5 col-xs-7">
                <div class="row song_preview_unselected">
                    <img src="data/song-bg_1.jpg">
            <span class="song_details">
                <span class="song_name">Everything will freeze</span>
                <br>
                <span class="song_author">UNDEAD CORPORATION // Ekoro</span>
                <br>
                <span class="song_version">Time Freeze</span>
                <br>
                <span class="song_stars"><img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                    <img height="35" width="35" src="data/star.png">
                </span>
            </span>
                </div>
            </div>
            <div class="col-xs-offset-5 col-xs-7">
                <div class="row song_preview_unselected">
                    <img src="data/song-bg_2.jpg">
                </div>
            </div>
            <div class="col-xs-offset-5 col-xs-7">
                <div class="row song_preview_unselected">
                    <img src="data/song-bg_3.jpg">
                </div>
            </div>

            <div class="col-xs-offset-5 col-xs-7">
                <div class="row song_preview_unselected">
                    <img src="data/song-bg_5.jpg">
                </div>
            </div>
            <div class="col-xs-offset-5 col-xs-7">
                <div class="row song_preview_unselected">
                    <img src="data/song-bg_5.jpg">
                </div>
            </div>
        </div>


    </div>
    <div id="footer">
        <div class="col-xs-3">
            <label for="background_dim">Background Dim</label>
            <input type="range" id="background_dim" value="90">
        </div>

        <div class="col-lg-offset-1 col-xs-2 text-right">
            <div><label for="master_volume">Master Volume</label></div>
            <div><label for="music_volume">Music Volume</label></div>
            <div><label for="sound_volume">Sound Volume</label></div>
        </div>


        <div class="col-xs-1 remove_padding">
            <input type="range" class="" id="master_volume" value="80">
            <input type="range" id="music_volume" value="90">
            <input type="range" id="sound_volume" value="50">
        </div>
        <div class="col-xs-offset-1 col-xs-2 ">
            <label for="use_beatmap_skin">Use beatmap Skins</label>
            <input id="use_beatmap_skin" type="checkbox">

            <label for="use_beatmap_hitsounds">Use beatmap hitsounds</label>
            <input id="use_beatmap_hitsounds" type="checkbox">
        </div>

        <div class="col-xs-2 remove_padding">
            <label for="skin_select">Select Skin</label>
            <select id="skin_select" class="form-control">
                <option>Default</option>

            </select>
        </div>

    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
<script src="static/libs/js/pnotify.js"></script>
<script src="static/libs/js/lzma.js"></script>
<script src="static/js/osureplay.js"></script>


</body>
</html>