/* main_screen.css */

.replay_area {

    color: white;
    float: right;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    left: 15px;
}
.replay_avatar{
    float: none;
    padding-left: 15px;
    height: auto;
}

#song_selection_area{
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.remove_padding{
    padding-left: 0px !important;
}

.map_details {
    min-height: 50px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.8);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    vertical-align: top;
    color: white;
}


#map_name{
    color: white;
    font-size: 24px;
}


.replay_preview{
    padding: 3px;
    border: 2px solid black;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
}

.song_preview_unselected{
    padding: 3px;
    background: rgb(70, 66, 68);
    background: rgba(70, 66, 68,0.8);
    border-bottom: 1px solid;
}
.song_preview_mouseover{
    padding: 3px;
    background: rgb(251, 141, 64);
    background: rgba(251, 141, 64,0.8);
    border-bottom: 1px solid;
}
.song_preview_mouseover > img{
    height: 100px;
    width: auto;
}
.song_preview_unselected > img{
    height: 100px;
    width: auto;
}
.song_preview_unselected *{
    opacity: 0.7;
}


.song_preview_selected{
    background: rgb(117, 131, 231);
    background: rgba(117, 131, 231,0.8);
    border-bottom: 1px solid;
}
.song_preview_selected > img{
    height: 130px;
    width: auto;
}

.song_details {
    vertical-align: top;
    display: inline-block;
    color: white;
}

.song_name {
    font-size: large;

}

.search{
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.8);
}
.replay_data{
    width: 100% !important;
    padding-left: 15px;
    vertical-align: top;

}
.replay_details{
    vertical-align: top;
    display: inline-block;
}
.replay_player_name{
    font-weight: bold;
    font-size: large;
}

.replay_mods{
    float: right;
    padding-right: 50px
}
.replay_accuracy{
    float: right;
}
.row{
    padding-bottom: 1px;
}
.song_preview{
    color: white;
}

body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html,
body {
    margin:0;
    padding:0;
    height:100%;
    height: 100%;
    overflow-x: hidden;
}
#container {
    min-height:100%;
    position:relative;
}
#header {
    background:#ff0;
    padding:10px;
}
#body {
    padding:10px;
    padding-bottom:80px;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:80px;
    color: #9f9f9f;
    vertical-align: bottom;
    background: rgba(0,0,0,0.7);

}